@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Static',sans-serif;
}

body{
    background-color: aliceblue;
    color: black;
    line-height: 1.6;
}

nav{
    background-color: aliceblue;
    color: black;
    padding: 1rem  2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
}

nav .logo > img{
    height: 72px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

nav a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: brown;

}

.header{
    text-align: center;
    padding: 20px;
}

.img-profile{
    width: 200px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 0 5px 5px 5px #a7a7a7;
    border: 2px solid #a8a8a8;
    margin-bottom: 20px;
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 25px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card{
    background: #ffffff;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 2px 2px #a7a7a7;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3{
    padding: 10px;
    font-size: 24px;
}

.card p{
    padding: 5px;
    font-size: 16px;
}